@import "mixins"

#fountainG
  position: absolute
  width: 570px
  height: 69px
  margin: auto
  top: 40%
  left: 30%

.fountainG
  position: absolute
  top: 0
  background-color: #000
  width: 69px
  height: 69px
  @include vendor-prefix('animation-name', 'bounce_fountainG')
  @include vendor-prefix('animation-duration', .845s)
  @include vendor-prefix('animation-iteration-count', infinite)
  @include vendor-prefix('animation-direction', normal)
  @include vendor-prefix('transform', scale(0.3))
  @include vendor-prefix('border-radius', 45px)

@for $i from 1 through 8
  #fountainG_#{$i}
    left: unquote(71 * ($i - 1) + 'px')
    @include vendor-prefix('animation-delay', .336 + ($i * .0865) + 's')

@each $vendor in ('@-webkit-', '@-moz-', '@-ms-', '@-o-', '@')
  #{$vendor}keyframes
    0%
      #{$vendor}transform: scale(1)
      background-color: #000
    100%
      #{$vendor}transform: scale(.3)
      background-color: rgba(255, 255, 255, .39)